# vim:ft=sh
alias ls='ls --color=auto'
alias la='ls -al'

alias p='pacman'
alias pR='sudo pacman -R'
alias pRsun='sudo pacman -Rsun'
alias pS='sudo pacman -S'
alias pSs='pacman -Ss'
alias pSy='sudo pacman -Sy'
alias pSyu='sudo pacman -Syu'

alias update-grub='sudo grub-mkconfig -o /boot/grub/grub.cfg'

alias tw='function _fun(){ streamlink --player mpv twitch.tv/$1 best };_fun'
alias yt='function _fun(){ youtube-viewer --video-player mpv $1 };_fun'
alias twdl='function _fun(){ output=$(youtube-dl --get-filename -o "%(uploader)s_%(title)s_$(($(date +%s%N)/10000000)).%(ext)s" $1); streamlink -o $output $1 best };_fun'
